<!-- Header Section Starts Here -->
<div class="home bg-img-3 home-product" id="home">
   <div class="bg-overlay"></div>
   <div class="container">
      <div class="row">
         {{header-part packages=model.ourPackages}}
      </div>
      {{hero-header}}
   </div>
</div>
<!-- Header Section Ends Here -->
{{redefining-the-web}}
{{services-list services=model.ourServices}}
{{our-team ourClients=model.ourSatisfiedClients ourTeam=model.ourFocusedTeam}}
{{contact-info}}
{{footer-content}}